body
{
    background-color: white;
    width: 100%;
    height: 1000px;
   
}

/*Debut haut de page photo plage */
h1
{
    border:solid white;
    background-color: white;
    text-align: left;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 50px;
    border-radius: 30px;
}

.pre
{
    margin-right: 45%;
    margin-top: 4%;
    position: absolute;
    z-index: 1;
}

.deu
{
    margin-right: 60%;
    margin-top: 11%;
    position: absolute;
    z-index: 1;
}
.troi
{
    border-color: black;
    color: white;
    background-color: black;
    font-size: 20px;
    margin-top: 19%;
    position: absolute;
    z-index: 1;
}

.baniereplage
{
    height: 400px;
    width:100%;
    border-bottom: solid black;
    box-shadow: 0px 50px 40px #E1E186;
    border-top: solid black;
    position: relative;
}

h2
{
    color: white;
    text-align: center;
    border: black;
    background-color: black;
    margin-top: 300px;
}

/*Fin de haut de page*/

/*introduction */

.presentation 
{
    margin-top: 7%;
    height: 15%;
    background-color: #E1E186;
    box-shadow: 1px 3px 5px yellow;
    border: solid #E1E186;
    border-radius: 30px;
    margin-left: 7%;
    margin-right: 7%;
}
.texte1
{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    height: 27%;
    font-size: 30px;
}
/*Fin intro*/

/* Debut Parti Pointe rouge*/

.textepointerouge
 {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}
h3
{
    margin-top: 30%;
    color:black;
    text-shadow: 0px 1px 2px black;
}
.textepointe
 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:auto;
}



.pointerouge 
{ 
    width: 600px;
    height: 300px;
    padding: 60px;
    border-radius: 70px;
}

/* Fin Parti Pointe rouge*/


/* Debut Parti Sormiou*/

.textesormiou
 {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

.textesormiou
 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:auto;
}

.sormiou 
{
    width: 800px;
    height: 500px;
    padding: 60px;
    border-radius: 70px;
}

/* Fin Parti Sormiou*/

/* Debut Parti prophete*/

.texteprophete
 {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

.texteprophete
 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:auto;
}

.prophete 
{
    width: 600px;
    height: 300px;
    padding: 60px;
    border-radius: 60px;
}

/* Fin Parti prophete*/

/* Debut Parti Catalan*/

.textecatalan
 {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

.textecatalan
 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:auto;
}

.catalan
{
    width: 600px;
    height: 300px;
    padding: 60px;
    border-radius: 70px;
}

/* Fin Parti Catalan*/

/* Debut Parti Prado*/

.texteprado
 {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

.texteprado
 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:auto;
}

.prado
{
    width: 600px;
    height: 300px;
    padding: 60px;
    border-radius: 70px;
}

/* Fin Parti prado*/
