* {
    line-height: 150%;
    margin: 0%;
    padding: 0%;
}



        /* Conteneur principal */

main{
    margin-left: 7%;
    margin-right: 7%;
}

.overlay-image {
    position: relative;
    width: 100%;
   }
   
  
   .overlay-image .image {
    display: block;
    width: 100%;
    height: 550px;
    opacity: 70%;
   }
   
   .overlay-image .text {
    color: #fff;
    font-size: 70px;
    line-height: 1.5em;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-family:'Times New Roman', Times, serif;
    
   }
        /* Fin conteneur */


.article{
    background-attachment:scroll;
    display: flex;
    flex-direction: row;
    font-size: 125%;

}

h3{
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    font-size: 180%;
}


.img {
    height: 100%;
    width:100%;

  }
#img-parc {
     margin-top: 5%;
     
}

td {
    overflow: hidden;
    border-radius: 5%;
    width:50%;
    margin: 2%;
    margin-bottom: 5%;
    margin-left:5%;
}

tr {
      display: flex;
  }

table {
    float: left;
  }

.bloc2 {
    display: flex;
    margin-top: 6%;
    font-size: 125%;
}
.img2-parc {
    display: inline-block;
    margin-right: 2%;
    border-radius: 5%;
    height: auto;
    width: 40%;
    margin-left: 5%;
}

h1{
    font-size: 300%;
}

.sect1{
    display: flex;
}

section {
    margin-top:5%;
}

